<div  style="background-color: white;height:500px;color: #422039">
  <div style="width: 100%;background-color:#422039;color: white;height: 40px;font-weight:  bold">
    <p class="center" style="width: 80%;display: inline-block;margin-left: 5px;overflow: hidden;text-overflow: ellipsis">{{menu.name}}</p>
    <p style="display: inline-block;vertical-align: top;width: 10%;text-align: right" (click)="closeModal('0')">X</p>
  </div>
  <div>
    <p class="center_desc">{{menu.description}}</p>
  </div>

  <div style="height: 100%">
  <div style="" *ngIf="menu.option?.length">
    <p style="font-size: 20px;font-weight: bold">Select an Option</p>
  <div  style="background-color: white;font-size: 18px">
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group"
      [(ngModel)]="selectionOption"
      (ngModelChange)="showValuePromptText('Option', $event)">
      <mat-radio-button class="radio-button" *ngFor="let option of menu.option" [value]="option.name">
        {{'+ $' + option.extraPrice  + ' ' + option.name}}
        <br/>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  </div>

  <div *ngIf="menu.extra?.length">

  <div  style="background-color: white;font-size: 18px;overflow: scroll;height: 120px;margin-top: 10px">
    <p style="font-size: 20px;font-weight: bold">Add any extras</p>
      <div *ngFor="let extra of menu.extra; let i = index" style="height: 30px" class="checkbox-section">

        <mat-checkbox class="checkbox-margin"
          (change)="list_change($event,i)">{{'+ $' + extra.extraPrice  + ' ' + extra.name}}</mat-checkbox>
        <br/>
      </div>
<!--    </div>-->
  </div>
  </div>

  <div class="md-form" style="height: 80px;margin-top: 10px" *ngIf="isOnboarded && isCafeAvailable">
    <input mdbInput placeholder="Special Instructions" type="text" style="height: 40px;width: 96%;margin-left: 1%;border-radius: 10px" name="vtableNumber" [(ngModel)]="vSpecialInstructions" id="form1" class="form-control">
    <!--    <label for="form1" class="">Enter Table Number</label>-->

  </div>


    <div *ngIf="isOnboarded && menu.available && isCafeAvailable"
      (click)="addItem()" style="line-height: 30px;height: 30px;width: 100%;background-color: #7AAD0A;text-align: center;color: white;vertical-align: middle"
    ><p>Add to Cart </p></div>

  <div *ngIf="isOnboarded && !menu.available" style="line-height: 30px;height: 30px;width: 100%;background-color: #7AAD0A;text-align: center;color: white;vertical-align: middle"
  ><p>Item is currently unavailable </p></div>

  <div *ngIf="!isCafeAvailable" style="line-height: 30px;height: 30px;width: 100%;background-color: #7AAD0A;text-align: center;color: white;vertical-align: middle"
  >Cafe is currently unavailable </div>
  </div>

</div>
