<div  style="background-color: white;height:500px;color: #422039">
  <div style="background-color:#422039;color: white;height: 40px;margin-top:2%;padding-top: 1px ;font-weight:  bold">
    <p class="center" style="width: 90%;display: inline-block">{{menu.name}}</p>
    <p style="display: inline-block" (click)="closeModal('0')">X</p>
  </div>
  <div>
    <p class="center_desc">{{menu.description}}</p>
  </div>
  <div  style="background-color: white;height: 180px">

  </div>

  <div class="md-form" style="height: 80px" *ngIf="isOnboarded">
    <input mdbInput placeholder="Special Instructions" type="text" style="height: 40px;width: 96%;margin-left: 1%;border-radius: 10px" name="vtableNumber" [(ngModel)]="vSpecialInstructions" id="form1" class="form-control">
    <!--    <label for="form1" class="">Enter Table Number</label>-->

  </div>


    <div *ngIf="isOnboarded"
      (click)="addItem()" style="height: 30px;width: 100%;background-color: #7AAD0A;text-align: center;color: white"
    >Add to Cart </div>

</div>
