<div  style="color: #422039">
  <div class="topBox">
    <span class="cafeName" style="text-transform: capitalize">{{ cafeInfo.name }}</span>
    <span class="cafeName" style="text-align: left;font-size: 28px;margin-left: 5px" (click)="goBack()"><</span>
  </div>

  <div  class="topBox2">

    <div style="height:200px;overflow-y: scroll">
      <div *ngFor="let ord of order;let i = index">
        <div style="height: 40px">
        <p style="display: inline-block;width: 5%;padding-left: 10px"> {{ord.quantity}}</p>
        <p style="display: inline-block;width: 50%;padding-left: 10px">{{ord.name | titlecase}}</p>
        <p style="display: inline-block;width: 10%;padding-left: 10px">{{ord.priceQuantity| currency: cafeInfo.currency :'symbol-narrow'}}</p>
        <p style="display: inline-block;width: 15%;text-align: right;font-size: 30px;color: #E12842" (click)="decreaseQuantity(ord,i)">-</p>

      </div>
      <br>

      <p style="padding-left: 40px;margin-top: 5px">{{ord.specialInstruction | titlecase}}</p>
      <p style="padding-left: 40px;">{{ord.option.text | titlecase}}</p>
      <div *ngFor="let extra of ord.extras">
        <p style="padding-left: 40px">{{extra.text | titlecase}}</p>
      </div>
    </div>
    </div>



    <div style="height: 20px">
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">Total</p>
      <p  style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">
        {{total$ | currency: cafeInfo.currency :'symbol-narrow'}}
      </p>
    </div>


    <div *ngIf="cafeInfo.discount!=0"  style="height: 20px">
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">
        Discount
      </p>
      <p  style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">{{' - ' +cafeInfo.discount + '%'}}</p>
    </div>


    <div *ngIf="cafeInfo.discount!=0"  style="height: 20px">
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">Sub Total</p>
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">{{discountTotal$ | currency: cafeInfo.currency :'symbol-narrow'}}</p>
    </div>


    <div  *ngIf="inclusiveTax!='0'"  style="height: 20px">
      <p  style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">
        Tax Included
      </p>
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">{{inclusiveTax | currency: cafeInfo.currency :'symbol-narrow'}}</p>
    </div>

    <div *ngIf="additiveTax!='0'"  style="height: 20px">
      <p  style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">Tax</p>
      <p  style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">{{additiveTax | currency: cafeInfo.currency :'symbol-narrow'}}</p>
    </div>


    <div *ngIf="tipAmount!=0"  style="height: 20px">
      <p   style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">Tip</p>
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">{{tipAmount | currency: cafeInfo.currency :'symbol-narrow'}}</p>
    </div>

    <div  style="height: 20px">
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 24px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 10%;width: 55%">Grand Total</p>
      <p style="display: inline-block;font-family: Roboto;font-style: normal;font-size: 24px;line-height: normal;
                                text-align: right;font-weight: bold;color:black">{{grandTotal | currency: cafeInfo.currency :'symbol-narrow'}}</p>
    </div>




  </div>

  <div class="md-form" style="height: 60px;top: 420px;position: fixed;width: 100%;" *ngIf="vTabChargeCode===''">
  <p style="display: inline-block;width:34%;margin-left: 2%;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;">Order For</p>
  <input mdbInput placeholder="Table Number/ Name ..." type="text" style="font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 3%;display: inline-block;height: 40px;width: 55%;margin-left: 1%;border-radius: 10px" name="
" [(ngModel)]="vtableNumber" id="form1" class="form-control">

    <!--    <label for="form1" class="">Enter Table Number</label>-->
    <div *ngIf="isPhoneRequired" style="margin-top: 5px">
      <p style="display: inline-block;width:34%;margin-left: 2%;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;">Phone number</p>
           <input mdbInput placeholder="04 XXX XXXXX" type="text" style="font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 3%;display: inline-block;height: 40px;width: 55%;margin-left: 1%;border-radius: 10px" name="
                                " [(ngModel)]=" deliveryDetails.deliveryPhone" id="form1" class="form-control">

    </div>
 </div>

  <div class="md-form" style="height: 40px;top: 420px;position: fixed;width: 100%;" *ngIf="vTabChargeCode!=''">
    <p style="display: inline-block;width:44%;margin-left: 2%;font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;"> Tab Charge Code:</p>
    <p name="" style="font-family: Roboto;font-style: normal;font-size: 20px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 3%;display: inline-block;height: 40px;width: 45%;margin-left: 1%;border-radius: 10px">{{vtableNumber}}</p>
<!--    <input mdbInput placeholder="Enter Tab Code" type="text" style="font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;-->
<!--                                text-align: left;font-weight: bold;padding-left: 3%;display: inline-block;height: 40px;width: 45%;margin-left: 1%;border-radius: 10px" name="-->
<!--" [(ngModel)]="vtableNumber" id="form1" class="form-control">-->
    <!--    <label for="form1" class="">Enter Table Number</label>-->

  </div>




  <div class="footer" style="text-align: center;width: 100%" *ngIf="isCashAllowed && !isCardAllowed">
    <p style="line-height: 30px;" (click)="confirmCashOrder()">Confirm & Pay Later</p>
  </div>


  <div class="footer" style="text-align: center;width: 100%" *ngIf="!isCashAllowed && isCardAllowed">
    <p style="line-height: 30px" (click)="confirmCardOrder()">Pay Now to Confirm</p>
  </div>

  <div class="footer" style="width: 100%" *ngIf="isCashAllowed && isCardAllowed">
    <div style="text-align: center;height: 60px;width: 50%;display: inline-block;border-right-style: solid;border-right-color: #white;border-right-width: 2px">
      <p style="line-height: 30px;width: 100%;display: inline-block" (click)="confirmCashOrder()">Confirm & Pay Later</p>
    </div>
    <div style="text-align: center;width: 45%;display: inline-block;">
    <p style="line-height: 30px;width: 100%;display: inline-block" (click)="confirmCardOrder()">Pay Now & Confirm</p>
  </div>
  </div>

 </div>

