.topBox{
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #F2F2F0;
}

.topBox2{
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0px;
  top: 50px;
  background: #F2F2F0;
}


.cafeName{
  position: absolute;
  width: 100%;
  height: 30.29px;
  top: 13.88px;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #422039;
}


.footer {
  height:50px;
  background-color: #E12842;
  color: #F2F2F0;
  width:100%;
  position: fixed;
  bottom: 0px;
}
