
<div  style="color: #422039" >

  <div class="topBox">
    <i-bs name="cart-fill" class="cart vibrateAnimation" style=";width: 15%;color: #7AAD0A" *ngIf="ifOrderFound"
          (click)="viewOrderDetails()"></i-bs>
    <span class="cafeName" style="text-transform: capitalize;width:80%">{{ cafeName }}</span>
    <br/>
  </div>
<!--</div>-->
   <img [src]="imgSrc"
        style="width: 100vw" *ngIf="showimage">

  <div *ngIf="isPinProvided">

  <div style="width: 100%;height: 30%;left: 0px;background: #422039;" >
    <span style="margin-left: 3%;margin-top: 5px;color: white;font-size: 18px;font-weight: bold"> {{vtext | titlecase}}</span>
    <i-bs name="filter" style="color: white;float: right;margin-right: 10px;font-size: 22px;cursor: pointer" (click)="clickFilter()"></i-bs>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal" *ngIf="openFilter" >
    <i-bs name="X" style="color: black;float: right;margin-right: 10px;font-size: 22px;cursor: pointer" (click)="closeFilter()"></i-bs>
    <!--      <span (click)="closeFilter()" class="cafeName" style="text-transform: capitalize">Close X</span>-->
    <!-- Modal content -->
    <div class="modal-content" style="overflow: scroll">
      <div *ngFor="let cat of categories">
        <p (click)="filterCat(cat)" style="font-size: 14px;cursor: pointer;height: 25px;padding: 8px 12px;border-radius: 4px;background-color: #F2F2F0">
          {{cat | titlecase }}</p>
      </div>

    </div>

  </div>

<!--covid info-->
  <div *ngIf="false" style="height: 400px">
    <p>Please provide the following details to help stop the spread of Covid-19</p>

    <div style="height: 200px">
    <div style="height: 60px" class="md-form">
    <p style="height: 20px">Name </p>
      <input mdbInput type="text" name="vName" [(ngModel)]="vName" id="form1" class="form-control">
    </div>

      <div style="height: 60px" class="md-form">
        <p style="height: 20px">Email </p>
      <input mdbInput type="email" name="vEmail" [(ngModel)]="vEmail" id="form2" class="form-control">
    </div>

      <div style="height: 60px" class="md-form">
        <p style="height: 20px">Best Contact Number </p>
      <input mdbInput type="number" name="vPhone" [(ngModel)]="vPhone" id="form3" class="form-control">
    </div>
    </div>
    <p style="height: 10px"> </p>


  <div >
    <button (click)="fetchCovidTracingDetails(1)" style="width: 100px;height:30px;background-color: #422039;color: white;border-radius: 10px">Submit</button>
    <button (click)="fetchCovidTracingDetails(0)" style="width: 100px;height:30px;background-color: grey;border-radius: 10px">Cancel</button>
    </div>
  </div>

  <div class="md-form" style="height: 60px;margin-top: 25px" >
    <input mdbInput placeholder="Search your favourite item..." type="text" style="height: 40px;width: 90%;margin-left: 5%;border-radius: 10px" name="vSearchText" [(ngModel)]="vSearchText" id="form1" class="form-control"
    (ngModelChange)="searchMenuItem()">
    <!--    <label for="form1" class="">Enter Table Number</label>-->
  </div>

  <div   *ngIf="!detailsObtained" style="height: auto;overflow: scroll">
    <div *ngFor="let menu of menuDisplay; let i = index" style="">
      <div  class="{{ i%2==0 ? 'evenStyle' : 'oddStyle' }}">

        <div (click)="openModal(i)">
        <div style=" margin-left: 5px;font-weight: bold;font-size: 18px;display: inline-block;width: 75%;overflow: hidden;text-overflow: ellipsis" class=" {{menu.available ? '' : 'line-through'}}" (click)="openModal(i)">
          <span > {{menu.name | titlecase}}</span>
          <br/>
        </div>
          <p style="display: inline-block;width: 20%" (click)="openModal(i)">{{menu.price | currency:cafeInfo.currency:'symbol'}}</p>
        </div>

        <div style=" margin-left: 5px;width:50%;font-weight: bold;font-size: 14px" (click)="openModal(i)">
          <span > {{menu.category | titlecase}}</span>
          <br/>
        </div>


        <div style=" margin-left: 5px;width:80%;font-size: 14px" *ngIf="menu.description" (click)="openModal(i)">
          <br/>
          <span >  {{menu.description | titlecase }}</span>

        </div>
        <br/>
      </div>
    </div>

    <div class="footer"  *ngIf="order.length!=0" (click)="onClickCart()">
      <p style="line-height: 30px;display: inline-block;width: 20%;padding-left: 10px">{{discountTotal$ | currency: cafeInfo.currency :'symbol-narrow'}}</p>
      <p style="line-height: 30px;display: inline-block;text-align: right;width: 70%;padding-right: 10px">Confirm Order</p>
    </div>

  </div>

</div>

  <div *ngIf="!isPinProvided" style="height: 500px;margin-left: 10px">

    <p>Provide PIN for Tab</p>
    <div style="display: flex; align-items: middle;">

    <input mdbInput placeholder="" type="text" style="font-family: Roboto;font-style: normal;font-size: 12px;line-height: normal;
                                text-align: left;font-weight: bold;padding-left: 3%;display: inline-block;height: 40px;width: 55%;margin-left: 1%;border-radius: 10px" name="
                                " [(ngModel)]="tabPinInput" id="form1" class="form-control">
    <i-bs name="Check" style="margin-left: 10px;color: #7AAD0A;font-size: 42px;cursor: pointer" (click)="checkTabPin()"></i-bs>
    </div>
    <p style="font-size: 12px;color: #E12842;font-style: italic" *ngIf="isPinNotMatching">Please check pin and try again</p>
  </div>

</div>

<!-- The Modal -->
<div id="orderModal" class="modal" *ngIf="openOrderHistory">
  <i-bs name="X" style="color: black;float: right;margin-right: 10px;font-size: 32px;font-weight: bold;cursor: pointer" (click)="closeFilter()"></i-bs>
  <!--      <span (click)="closeFilter()" class="cafeName" style="text-transform: capitalize">Close X</span>-->
  <!-- Modal content -->
  <div class="modal-content" style="height: 60%;overflow: scroll;background-color: #F2F2F0">
    <p style="font-size: 20px;font-weight: bold;color: #422039">Last Ordered</p>
    <div *ngFor="let order of oldSessionData">
      <div  style="color: #422039">
          <p>Order No: {{order.orderNo}}</p>
          <p>Total: {{order.totalPrice | currency: cafeInfo.currency :'symbol-narrow'}}</p>
          <div style="height:80px;overflow-y: scroll">
            <div *ngFor="let ord of order.order;let i = index">
              <div style="height: 30px">
                <p style="display: inline-block;width: 5%;padding-left: 5px"> {{ord.quantity}}</p>
                <p style="display: inline-block;width: 50%;padding-left: 5px">{{ord.name | titlecase}}</p>
                <p style="display: inline-block;width: 10%;padding-left: 5px">{{ord.priceQuantity| currency: cafeInfo.currency :'symbol-narrow'}}</p>

              </div>
              <br>

              <p style="padding-left: 20px;margin-top: 1px">{{ord.specialInstruction | titlecase}}</p>
              <p style="padding-left: 20px;">{{ord.option.text | titlecase}}</p>
              <div *ngFor="let extra of ord.extras">
                <p style="padding-left: 20px">{{extra.text | titlecase}}</p>
              </div>
            </div>

        </div>
        <p style="width: 100%;background-color: #888888;height: 2px"> </p>

      </div>



    </div>

  </div>

</div>
