.topBox{
  position: absolute;
  text-align: center;
  height: 40px;
  line-height: 40px;
  left: 0px;
  top: 0px;
  background: #F2F2F0;
}
.cafeName{
  width: 100%;
  height: 30.29px;
  top: 13.88px;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #422039;
}

.cart{
  position: absolute;
  width: 100%;
  height: 30px;
  top: 5px;
  left: 0px;
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #422039;
}


.evenStyle{
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
}


.oddStyle{
  width: 90%;
  margin-left: 5%;
  background: #F2F2F0;
  border-radius: 5px;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.class-backdrop{
  filter: blur(20px);
  opacity: 0.1 }


.footer {
  height:60px;
  background-color: #E12842;
  color: #F2F2F0;
  width:100%;
  position: fixed;
  bottom: 0px;
}

.line-through{
  text-decoration: line-through
}

.topBox{
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #F2F2F0;
}

.topBox2{
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0px;
  top: 50px;
  background: #F2F2F0;
}


.vibrateAnimation {
  animation: shake 1.64s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
